
body {    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    text-align: center;
    background-color: rgb(186, 198, 255);
 }

 .main{  
  margin-left: 22%;
  margin-right: 10%;
 }

 h1 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(19, 19, 19);
  font-size: 30px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(29, 29, 44);
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(29, 29, 44);
  font-size: 20px;
}

.left{
  text-align: left;
}

img	{
  max-width:300px;
  width:100%}
  
.img_left {
    float:left;
    padding: 12px;
  } 

 .lomake  {
  background-color: lightgray;
  color: blue;
  padding: 20px;
  border-radius: 10%;
}

 a {
  background-color: transparent;
  text-decoration: none;
}

.linkki{
  float:left;
  color:blue;
}

.linkki:hover{
  color:rgb(50, 30, 125);
}

.inline{
  display: inline;
}

button{
  color:white;
  background-color: black;
}

button:hover{
  color:blue;
  background-color: white;
}
  
/* TAULUKKO */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #7f0404;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #8b5959;
}



/* LINKKI */


